<div class="absolute left-0 bottom-0 bg-self-profile-bg top-[7vh] w-[50%] shadow-lg">
  <div class="flex flex-row mt-[20px] ml-5">
    <img src="{{user.pfp}}" class="h-[26vh] rounded-full shadow-lg">
    <div class="flex flex-col ml-[30px]">
      <h1 class="text-lg">{{user.nickname}}</h1>
      <p class="text-sm mt-[30px]">{{user.about}}</p>
    </div>
  </div>
  <div
    class="fixed flex justify-center left-0 top-[160px] ml-5 rounded-full h-[30px] w-[30px] bg-edit-button"
    (click)="openModal()"
  >
    <img src="https://www.svgrepo.com/show/42233/pencil-edit-button.svg" class="w-[20px]">
  </div>
</div>

